* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #add8e6;
}

#nav_menu {
    padding-bottom: 4em;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 1em;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu ul li a.lastitem {
    border-right: none;
}

#nav_menu ul li a.current {
    color: yellow;
}

#line {
    width: 100%;
    border-top: 2px solid blue;
    margin: auto;
}

article h1 {
    color: blue;
    column-span: all;
    margin: 15px auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: 15px auto;
    background-color: white;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;

    background-image: url("../images/sh.jpg");
    background-repeat: repeat-y;
    background-position: 95%;
    background-attachment: fixed;
    background-size: 28em;
}

article {
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dashed blue;
    column-gap: 2em;
    margin-left: 2em;
}

article img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

aside {
    width: 20%;
    float: right;
    background-color: #add8e6;
    padding: 15px 15px;
    border: 5px solid #3f3990;
    position: fixed;
    top: 22em;
    right: 20px;
}

article h2 {
    color: blue;
    column-span: all;
}

article p {
    text-align: justify;
}

article p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

#order {
    list-style-type: upper-roman;
}

#unorder {
    list-style-type: square;
}

#letterlist {
    list-style-type: lower-alpha;
}

aside a {
    color: blue;
    text-decoration: none;
}

aside a:hover,
aside a:focus {
    text-decoration: underline;
}

footer {
    clear: both;
    border-top: 2px solid blue;
    text-align: center;
}

footer p {
    font-size: 0.85em;
    color: #333;
}

footer a {
    color: blue;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}
