* {
    margin: 0;
    padding: 0;
    }

#nav_menu ul {
    list-style-type: none;
    }

#nav_menu ul li {
    float: left;
    }

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
    }

#nav_menu ul li a.lastitem {
    border-right: none;
    }
    
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
    }

#nav_menu ul li a.current {
    color: yellow;
    }
    
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
    }

aside ol {
    list-style-type: upper-roman;
    }
    
aside ul {
    list-style-type: square;
    }
    
article {
    box-sizing: border-box;
    float: left;
    width: 65%;
    padding: 1em;
    }
    
aside {
    box-sizing: border-box;
    float: right;
    width: 30%;
    padding: 1em;
    }

body::after {
    content: "";
    display: block;
    clear: both;
    }
    
h1 {
    margin-bottom: 0.5em;
    }

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    }

p {
    margin-bottom: 1em;
    }    
